# Created by .ignore support plugin (hsz.mobi)
.idea/
*.iml
target/
journal
vk-grabber-variables.env
jackrabbit/repository
jackrabbit/version
jackrabbit/workspaces
jackrabbit/.lock
derby.log
*.crt
*.csr
*.key
*.key.org
*.p12
